@model ActiveSystems.Models.ViewModel

@{
    ViewData["Title"] = "ActiveSystems";
}

<div class="parent">
    <div class="block">        
        <div class="links">
            <div id="linkUpdate" onclick="window.location.reload();">Update segment</div>
            <div id="linkSave">Save segment</div>
        </div>
        <div class="coords">
            <div id="coordFirst"></div>
            <div id="coordSecond"></div>
        </div>        
        <canvas id="cnvs" width="@Model.CanvasSize.X" height="@Model.CanvasSize.Y"></canvas>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var model = @(Html.Raw(Json.Serialize(Model)));
            var application = new app(model);
        });
    </script>
}